html {
  scroll-snap-type: y mandatory;
}

.app {
  margin: 0;
  height: 93vh;
  background-color: #2b2b2b;
  display: grid;
  place-items: center;
  
}

.app__video {
  border: 10px solid black;
  position: relative;
  height: 85vh;
  border-radius: 20px;
  width: 80vw;
  max-width: 550px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__video::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
