.header {
  height: 7vh;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.header__logo {
  object-fit: contain;
  height: 50px;
}

.header__icon {
  padding: 5px;
}
